/* About_Section start  */
.About_Section{
    padding: 50px;
    border: 2px solid #333;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px #333;
    background-color: #6d9db880;
}

.Box_Shadow_About{
    border: 2px solid #adb5bd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 14px #ffffff;
    background-color: white;
}

.About_Section_Left_Side{

}
.About_Image{
    /* max-width: 550px;
    max-height: 400px; */
    border-radius: 15px;
}


.About_Section_Right_Side{
   text-align: center; 
   margin-top: 60px;
}

.About_Section_Title_Box{
    margin: 40px auto;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 100px; */
    font-weight: bold;
    color: #121212;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
}
.About_Section_Title_Box h3{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Social icon start */
.Email_And_Facebook{
    margin-top: 20px;
}
.About_Icon {
    padding: 20px;
    font-size: 30px;
    /* width: 30px; */
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .About_Icon:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-android {
    background: #a4c639;
    color: white;
  }
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .fa-vine {
    background: #00b489;
    color: white;
  }
  
  .fa-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  
  .fa-yahoo {
    background: #430297;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .fa-reddit {
    background: #ff5700;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }
/* Social icon end */
.About_Phon_Number{
    margin-top: 30px;
}
.About_Phon_Number a{

}
.About_Phon_Number a button{
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    background-color: #b5cedb;
    font-weight: bold;
    transition: 700ms;
    margin-bottom: 10px;
}

.About_Phon_Number a button:hover{
    box-shadow: 0px 1px 20px #6f838d;
    color: #084298;
    border: 1px solid #084298;
}




/* About_Section end  */