@font-face {
    font-family: Nikosh;
    src: url(../../Assets/Font/Nikosh.ttf);
 }


 /* section 2 start  */
.Section_2{
    /* display: flex; */
    margin-top: 10px;
    font-family: Nikosh;
    border-radius: 10px;
    background-color: #ffffffba;
}
.Section_2_Left_Side{
    font-size: 16px;
    text-align: justify;
}
.Section_2_Left_Side_Box{
    background-color: #ecc731;
    margin-left: 10px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}
.Section_2_Right_Side{
    /* width: 30%; */
    margin-top: 0;
    background-color: #c1c1c1d4;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.Section_2_Right_Side_Prosno{
    color: white;
    background-color: #5a5656;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}
.Prosno_btn{
    padding: 10px;
    background-color: #ecc731;
    border-radius: 10px;
    border: 3px solid white;
    transition: 700ms;
}
.Prosno_btn:hover{
    padding: 12px;
}
 /* section 2 end  */






 /* section 3 start  */
.Section_3{
    background-color: rgb(49 95 160 / 87%);
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Nikosh;
    box-shadow: 0px 1px 10px #084298;
    border-radius: 10px;
}
.Section_3_Box{
   background-color: rgba(155, 190, 240, 0.3);
    padding: 20px;
    border: 1px solid #95b1d8 !important;
    max-width: 200px;
    display: block;
    height: 200px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 700ms;
}
.Section_3_Box:hover{
    background-color: rgb(84, 128, 190);
    color: #ffd907 ;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.682);
}
.Section_3_Box_Img{
    margin-top: 12px;
    margin-bottom: 10px;
}
 /* section 3 end  */



 /* Section 4 start  */
.Section_4{
    font-family: Nikosh;
}
.Section_4 h3{
    text-align: center;
    padding: 20px;
    background-color: #c2c6ccc0;
    margin: 0;
    border-radius: 10px;
    font-weight: bold;
}
.Section_4_Left_Side{
    margin: 0;
    padding: 0;
}
.Section_4_Left_Side_Image{
    max-width: 100%;
}
.Section_4_Right_Side{
    max-width: 100%;
    padding-top: 150px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.Section_4_Right_Side_Button{
    color: white;
    border: 3px dashed white;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b72ac;
    transition: 700ms;
}
.Section_4_Right_Side_Button:hover{
    color: black;
    background-color: #6389c1;
    padding: 12px;
}
 /* Section 4 end  */


 /* Section_5 start*/
.Section_5{
    max-width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.Section_5 h3{
    text-align: center;
    padding: 30px;
}
.Section_5_Item{
    background-color: #d9d9d9a6;
    max-width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    transition: 700ms;
}
.Section_5_Item:hover{
    background-color: #c2bebebe;
    color: white ;
    box-shadow: 0px 0px 20px #333;
}
.Section_5_Item a{
    text-decoration: none;
    color: #262626;
}
/* Section_5 end  */



/* Section_6 start */
.Section_6{

}
.Section_6_Top{
    margin-bottom: 15px;
}
.Section_6_Bottom{

}
/* Section_6 end */