/* Top Navbar start  */
.Top_Navbar{
    display: flex;
    background-color: #e9ecefba;
    padding: 10px;
    font-size: 14px;
}
.Top_Navbar_Left_Side{
    width: 50%;
    padding-left: 50px;
}
.Top_Navbar_Right_Side{
    width: 50%;
    text-align: right;
    padding-right: 50px;
}
/* Top Navbar End  */


/* Top Title Bar */
.Top_Title_Bar{
    display: flex;
}
.Top_Title_Bar_Left_Side{
    width: 60%;
    margin: 0;
    margin-left: 50px;
    padding-top: 15px;
}
.Top_Title_Bar_Right_Side_Agent_Logo{
    margin-right: 20px;
}
.Top_Title_Bar_Right_Side_Gore_Bose_Account_Khulun_Image{
    margin-right: 20px;
    /* width: 100px;
    height: 80px; */
}
.Phon_Icon{
    margin-right: 20px;
    font-size: 50px;
    color: #2261b0;
}
.Call_16205_Css{
    font-size: 30px;
    font-weight: bold;
    color: #2261b0;
}

.Top_Title_Bar_Right_Side{
    display: flex;
    margin: 0;
    margin-right: 50px;
}

/* End Top Title Bar */



/* Top Menu Bar  */
.Top_Menu_bar {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2px;
}

/* .Top_Menu_bar a{
    padding: 10px;
}

.Top_Menu_bar_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2160af;
    border-radius: 10px;
}
  
.Top_Menu_bar_ul_li{
    float: left;
}
  
.Top_Menu_bar_ul_li_a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Top_Menu_bar_ul_li_a:hover, .dropdown:hover .dropbtn {
  background-color: #007d23;
  border-radius: 10px;
  color: white;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #007d23;}

.dropdown:hover .dropdown-content {
  display: block;
} */


/* End Top Menu Bar  */


/* Responsive menu start  */
.Responsive_Menu{
  margin-top: 10px;
  /* display: flex; */
  margin-left: 50px;
  margin-right: 50px;
}
.Office_Login{
  float: right;
}
.topnav {
    overflow: hidden;
    background-color: #2160af;
    border-radius: 10px;
}
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 700ms;

  }
  
  .topnav a:hover {
    background-color: #6793cb;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 1px 10px white;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



/* Responsive menu end  */